<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% if res %}
            <table>
            <tbody>
            {% for center in res %}
                <tr>
                    <td>{{center.name}}</td>
                    <td>{{center.pincode}}</td>
                    <td>{{center.available_capacity}}</td>
                    <td>{{center.date}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <br> <h4> "No data available" </h4> <br>
        {% endif %}

    </body>
</html>